
/*Unused colors
    color: #222fe2;
*/

/*General Styles*/
h1,h2,h3,h4, h5{
    font-family: 'Mukta', sans-serif;
}

p, a, ul li, li a{
    font-family: 'Noto Sans', sans-serif;
}

/* Navigation bar styles*/ 
.burger{
    cursor: pointer;
    font-size: 2.5rem;
    color: #fffdfd;
}

.main-nav{display: none;}

img.main-logo{display:block; margin:auto; width:85%; max-width:300px;}

/* header{ position: fixed; width: 100%; } */

header nav{
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    padding:10px;
    background-color:#f03612;
}

nav ul {
    display: flex;
    position: relative;
    top: 7rem;
    gap:1em;
    text-align: center;
    flex-direction: column;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.side-nav {
    height: 100%;
    width: 0; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color:#000000;
    overflow-x: hidden;
    transition: 0.5s;
    /*box-shadow: 10px 1px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 1px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 1px 5px 0px rgba(0,0,0,0.75); */
}

.side-nav ul li a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 2em;
    color: #f1f1f1;
    display: flex;
    justify-content: center;
    transition: 0.3s;
    padding: 2rem;
}

.side-nav a:hover{
    color: #b1b1b1;

}

.side-nav .closebtn {
    position: absolute;
    top: 1em;
    right: 30px;
    font-size: 36px;
    padding: 20px;
    color: #fffdfd;
    /* margin-left: 50px; */
    cursor: pointer;
}

.main {
    transition: margin-left .5s;
    padding: 10px;
    /* background-color:#d3e8ff; */
    background-color:#fffdfd;
}

.social-media{display: none;}

/*Footer styles*/
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    /* background-color:#255C99; */
    /* background-color:#B9BAA3; */
    /* background-color:#000000; */
    background-color:#f7d101;
    text-align: center;
    padding:20px;
    /* color: #fffdfd; */
    color: #000000;
}

footer div.social-media-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.social-media-footer img{
    width:70%;
}

footer h5{margin-top:0;}

/* Medium size */
@media only screen and (min-width: 38.5em) {
div.social-media{
    display:flex; 
    flex-direction: row;
    gap: 20px;
}

.side-nav {max-width: 35%; transition: all 1s; opacity:0.95;}

.side-nav ul li a {
    font-size: 1.5em;
}

div.social-media img{
    width: 50%;
}
}

/* Large size */
@media only screen and (min-width: 68rem ){
    .burger{display: none;}
    .closebtn {display: none;}
    header nav{justify-content: space-evenly; }
    .main-nav{display: flex; flex-direction: row; position: static; gap:2rem;} 
    .main-nav li a{color: #f1f1f1; text-decoration: none; padding: 20px;}
    #side-menu{display: none;}
}