.main section/*, .main section div*/{
    margin: 15px;
}

main img{
    display: block;
    margin: auto;
    max-width: 80%;
}

.video-area{
    position: relative;
    width: 100%;
    height: 65vh;
    min-height: 400px;
}

.color-overlay {
    position: absolute;
    top: 0;
    opacity: 0.2;
    height: inherit;
    width: inherit;
    min-height:inherit;
    background: blue;
  }

video{
    object-fit:cover;
    width: 100%;
    min-height: inherit;
    height: inherit;
}

.video-area h1{
    color:white;
    text-shadow: #000000 2px 5px 4px;
    font-size:2.3rem;
    position: absolute;
    text-align: center;
    top: 35%;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
}

.btn{
    display:block;
    text-align: center;
    background-color:#000000;
    margin: auto;
    width: 8em;
    text-decoration: none;
    color: aliceblue;
    border: 1px solid black;
    padding: 20px;
    cursor: pointer;
    transition: background-color .5s;
}

.btn:hover{
    display: block;
    margin: auto;
    background-color: whitesmoke;
    color: black;
    border: #000000 1px solid;
}

section h4, div h4{
    text-align: center;
}

@media only screen and (min-width: 40rem){
.video-area h1{
    font-size:3rem;
}
}

@media only screen and (min-width: 68rem ){

    .video-area{
        height: 75vh;
    }

    video{
        object-fit:fill;
        height: inherit;
    }
}