.content {margin:20px;padding:1.5rem;}

.colored-b{background-color: rgb(207, 207, 207);}

div.large-image h1{
  position: absolute;
  padding-left: 15px;
  text-shadow: #000000 5px 1px 10px;
  font-size: 3rem;
  color:#fffdfd;
  top: 10rem;
}

div.large-image img{
  object-fit: cover;
  width: 100%;
  height: 65vh;
  min-height: 400px;
}

main section img{
    display: block;
    margin: auto;
    /* max-width: 80%; */
}

  /* Estilos para la tabla */
table {
  margin: auto;
  border-collapse: collapse;
  width: 85%;
  margin-bottom: 20px;
  max-width: 800px;
} 
th, td {
  /* text-align: left; */
  padding: .7rem;
  border-bottom: 1px solid #f1f1f1;
} 
th {
  /* font-family: 'Mukta', sans-serif; */
  background-color:#f7d101;
  font-weight: bold;
} 
/* Estilos para las celdas */
td {
  font-size: 16px;
  color: #000000;
  font-family: 'Noto Sans', sans-serif;
  width: 50px;
} 
/* Estilos para las filas alternas */
tr{
  background-color: #f9f9f9;
  text-align: center;
} 
/* Estilos para el hover de las celdas */
tr:hover {
  background-color: #f5f5f5;
}

details{font-family:'Mukta', sans-serif; border-top: 1px solid; border-bottom: 1px solid;}
details summary{padding: 1rem;}

.llantasCategorias picture img{width:15rem;}

div.pat-grid div.pat,.llantasTipos div,div.container div.imgElement{border-bottom: #817c7b9a solid 1px;}

/* div.pat-grid div.pat p{margin-top: 2rem; margin-left:2rem;} */

div.pat-grid picture img,div.container div picture img{width:15rem;}

section.llantasCategorias div div img{width:80%;max-width:10rem;}

.llantasTipos{text-align: center;}

  /* Medium size */
@media only screen and (min-width: 40rem) {

  div.large-image h1{padding-left: 60px;font-size: 4rem;}

  div.pat-grid,div.container{display:grid; grid-template-columns:repeat(4,25%);}

  div.pat-grid picture img,div.container div picture img{width:80%;max-width:10rem;}
  
  div.pat-grid div.pat,.llantasTipos div,div.container div.imgElement{border-bottom:none;}
  div.pat-grid div.pat:nth-child(even),.llantasTipos div:nth-child(even),div.container div.imgElement:nth-child(even){border-left: #817c7b9a solid 1px;}

  .llantasTipos div{border-bottom: #817c7b9a solid 1px;}
  div.pat-grid div:nth-child(1),div.pat-grid div:nth-child(2),div.container div.imgElement:nth-child(1),div.container div.imgElement:nth-child(2){border-bottom: #817c7b9a solid 1px;}

  .llantasTipos div:nth-last-child(1),.llantasTipos div:nth-last-child(2){border-bottom:none;}

  div.container div:nth-child(1),div.pat-grid div:nth-child(1){grid-column:3/4;}
  div.container div:nth-child(2),div.pat-grid div:nth-child(2){grid-column:4/5;}
  div.container div:nth-child(3),div.pat-grid div:nth-child(3){grid-column:3/4;}
  div.container div:nth-child(4),div.pat-grid div:nth-child(4){grid-column:4/5;}

  div.container div:nth-child(5),div.pat-grid div.pat-text{grid-column:1/3; grid-row: 1/3; margin-right:15px;}

  .llantasCategorias picture img{width:20rem;}

  .llantasTipos{display:grid; grid-template-columns: 50% 50%;}
}

@media only screen and (min-width: 68rem ){
  .content{max-width:75vw; margin: auto;}
  main div.large-image p{max-width:75vw; margin: auto; margin-top:15px; margin-bottom:15px;}

  div.large-image img{height: 75vh;}

}